* {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
}

.header-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 2.7rem;
  border: 0.1px solid black;
}

.header-all p {
  margin: auto;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-weight: bolder;
}
.buttons button {
  border-radius: 50%;
  border: none;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  background: orange;
}
.buttons button:nth-of-type(1) {
  background: red;
  margin-left: 1rem;
}
.buttons button:nth-of-type(1):hover {
  background: rgb(154, 0, 0);
}
.buttons button:nth-of-type(3) {
  background: green;
}
.buttons button:nth-of-type(3):hover {
  background: rgb(0, 86, 0);
}

header .header a {
  background: rgb(191, 138, 60);
  border: 0.5px solid black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgb(95, 61, 9);
}
header .header a:nth-of-type(1) {
  margin-left: 3.5rem;
}

.header {
  display: flex;
  justify-content: flex-start;
}
header div h1 {
  font-size: 3rem;
  margin-left: 4.5rem;
}

header {
  background: rgb(86, 134, 120);
  height: 10rem;
  transform: translateY(-26px);
}

.about {
  display: flex;
}

.about div {
  text-align: center;
}

.about-me {
  margin-top: 3rem;
}
section div a {
  background-color: rgb(191, 138, 60);
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  margin: 1rem 0rem;
  text-decoration: none;
  border-radius: 50%;
  border: 0.5px solid black;
  box-shadow: 5px 5px 5px rgb(95, 61, 9);
}

img {
  max-height: 309px;
  padding: 0.5%;
  border-color: #caf0f8;
  background-color: rgb(5, 63, 5);
  margin: 1rem 2rem 1rem 0;
  width: 30%;
}

.projects {
  display: flex;
  justify-content: space-between;
}

footer {
  background: #99d98c;
  height: 7rem;
  text-align: center;
  padding: 1%;
}

footer a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 1rem 2rem;
  border: 1px solid #07140c;
}

h2 {
  font-size: 20px;
}
section div img {
  width: 100%;
  height: 100%;
}

section.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.project {
  text-align: center;
}
